@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: blue;
  text-align: center;
}


h2{
  color:aqua;
  font-size: 30px;
}

img {
  border-radius:50%
}

ul{
  list-style-position: inside;
  color:blue;
  text-decoration:brown;
}

a:hover{
  color:chartreuse;
  background-color:orangered;
  font-size: 50px;
}

.card{
  width: 500px;
  box-shadow: 5px 5px 5px rgb(158, 158, 158);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  text-align: center;
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;

}

#intro{
  font-size:small;
  font-family: 'Open Sans', sans-serif;
  color:rgb(245, 8, 194)
}
