@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: blue;
}


h2{
  color:aqua;
  font-size: 30px;
}

img {
  border-radius:50%
}

li{
  color:blue;
  text-decoration:brown;
}

a:hover{
  color:chartreuse;
  background-color:orangered;
  font-size: 50px;
}
